@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera');

html {
    font: 16px/1.5 'Lexend Tera', sans-serif;
}

body, form, input, textarea, option, select, button {
    font: inherit;
}
a {
    text-decoration: none;
    color: cornflowerblue;
}
h1 {
    padding-bottom: 1.2em;
}
h3 {
    padding-bottom: 0.8em;
    text-align: center;
}
p,ul {
    padding-bottom: 3em;
    min-width: 400px;
}
