<nav>
    
    <a class="active" href="#/home">Home</a>
    {{#if loggedIn}}
    <a href="#/createMeme">Create Meme</a>
    <div id="profile">
        <a>Welcome {{username}}</a>
        <a href="#/myProfile">My Profile</a>
        <a href="#/logOut">logout</a>
    </div>
    {{/if}}
</nav>