{{#if loggedIn}}
<header class="clearfix" id="profile">
    <div id="cashier">
        <span>Cashier: </span>
        <a href="#">Pesho</a>
    </div>
    <nav id="nav">
        <ul>
            <li>
                <a href="#">Editor</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#/logOut" class="logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>
{{/if}}